* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
* {
  box-sizing: border-box;
}

header {
  height: 80vh;
  border: #e8da61 5px solid;
}

.space {
  height: 300vh;
  background-color: black;
}

.scroller-stroll,
.scroller-hunting {
  height: 100vh;
  border: white 5px solid;
  overflow: hidden;
  transform-origin: center center;
}

.screens-stroll,
.screens-hunting {
  display: inline-flex;
  border: black 5px solid;
  height: 100%;
}

.cave,
.savane,
.tigers {
  height: 100%;
  width: 100vw;
  flex-shrink: 0;
  border: #d6939a 5px solid;
  position: relative;
}

.tigers {
  background-color: rosybrown;
}

.tigers-image {
  width: 100%;
  height: 50vh;
  position: absolute;
  bottom: 0;
  background-color: brown;
}

.jumping-sabre {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 20%;
  bottom: -300px;
  background-color: yellow;
}

.sky,
.buffalo,
.corpse {
  height: 100%;
  width: 100vw;
  flex-shrink: 0;
  border: #754c49 5px solid;
}

.automn {
  background-color: #d6939a;
}
.winter {
  background-color: white;
}

.fade {
  mix-blend-mode: multiply;
}
